@import '../__styles__/variables';

.crop {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;

  .crop & {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.round {
  border-radius: borderRadius(-1);
}

.rounded {
  border-radius: borderRadius();
}