@import '../__styles__/variables';

.container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.crop {
  max-height: 100%;
  max-width: 100%;
}

.wrapper {
  transition: transition(opacity);
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  opacity: 0;

  .crop & {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.loaded {
  opacity: 1;
}

.placeholder {
  .loaded + & {
    position: absolute;
  }
}

.round {
  border-radius: borderRadius(-1);
}

.rounded {
  border-radius: borderRadius();
}
