@import '../__styles__/variables';

.wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.verbose {
  &:before,
  &:after {
    transition: transition(color);
    font-size: fontSize(small);
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: color(grey, false, $systemColors);
  }

  &:before {
    content: 'off';
    margin-right: spacing(xs);
  }

  &:after {
    content: 'on';
    margin-left: spacing(xs);
  }
}

.circle {
  transition: transition(left);
  position: absolute;
  border-radius: borderRadius(2);
  box-shadow: boxShadow(m);
  top: 50%;
  left: borderWidth(2);
  height: calc(100% - #{borderWidth(2) * 2});
  width: calc(50% - #{borderWidth(2) * 2});
  transform: translateY(-50%);

  .input:checked + .container > & {
    left: calc(50% + #{borderWidth(2)});
  }
}

.container {
  transition: transition(background-color);
  position: relative;
  border-radius: borderRadius(2);
  box-shadow: boxShadow(xs, true);
  background-color: color(grey, false, $systemColors);
  height: 1em;
  width: 2em;
  overflow: hidden;

  &.large {
    height: 1.5em;
    width: 3em;
  }

  > .circle {
    fill: color(default, true, $systemColors);
  }

  .input:checked + & {
    background-color: color(light);

    > .circle {
      fill: color(white, false, $systemColors);
    }
  }

  .input:focus + & {
    @include focus();
  }
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;

  &:active,
  &:hover {
    cursor: pointer;
  }
}
