@import '../__styles__/variables';

.wrapper {
  position: relative;
  display: flex;
  border-radius: borderRadius();
  max-width: 100%;
  overflow: hidden;

  &:focus {
    @include focus();
  }
}

.viewport {
  transition: transition(transform);
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;

  > * {
    height: 100%;
    flex: 1 0 50%;
  }

  > *:not(:last-child) {
    margin-right: spacing();
  }

  // MEMO: when altering values, also check values in component!
  @include media-query-up(m) {
    > * {
      flex: 1 0 33.333%;
    }
  }

  @include media-query-up(l) {
    > * {
      flex: 1 0 25%;
    }
  }
}

.buttonWrapper {
  --gradient-color: #{color(white, false, $systemColors, true)};

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    transparent 0%,
    RGBA(var(--gradient-color), 0.333) 50%,
    RGBA(var(--gradient-color), 0.667) 80%,
    RGBA(var(--gradient-color), 1) 100%
  );
  top: 0;
  bottom: 0;
  z-index: 10;

  .dark & {
    --gradient-color: #{color(grey, false, $systemColors, true)};
  }

  &:first-child {
    transform: rotateY(180deg);
    left: 0;
  }

  &:last-child {
    right: 0;
  }
}

.icon {
  transition: transition(opacity);
  position: relative;
  margin: spacing(s);
  opacity: 0;

  .wrapper:hover & {
    opacity: 1;
  }
}
