@import '../__styles__/variables';

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: borderRadius();
  max-width: 100%;
  overflow: hidden;
}

.viewport {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.buttonWrapper {
  --gradient-color: #{color(white, false, $systemColors, true)};

  transition: transition(opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    transparent 0%,
    RGBA(var(--gradient-color), 0.333) 50%,
    RGBA(var(--gradient-color), 0.667) 80%,
    RGBA(var(--gradient-color), 1) 100%
  );
  opacity: 0;

  .dark & {
    --gradient-color: #{color(grey, false, $systemColors, true)};
  }

  .wrapper:hover & {
    opacity: 1;
  }

  &:first-child {
    transform: rotateY(180deg);
  }
}

.icon {
  position: relative;
  margin: spacing(s);
  z-index: 10;
}
