@import '../__styles__/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: fontSize(h5);
  margin: spacing() spacing(xl);
}

.author {
  align-self: flex-end;
  color: color(grey, false, $systemColors);
  font-size: fontSize(small);
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin-top: spacing();
}

.quote {
  font-weight: bold;
  text-align: center;
  
  &::before,
  &::after {
    color: color(grey, false, $systemColors);
    font-size: fontSize(small);
    font-weight: normal;
  }
  
  &::before {
    content: '<<';
    margin-right: spacing(xs);
  }
  
  &::after {
    content: '>>';
    margin-left: spacing(xs);
  }
}
