$colors: (
  default: (
    color: #2B303A,
    contrast: #C7D59F,
    name: 'Gunmetal',
  ),
  light: (
    color: #C7D59F,
    contrast: #0D5C63,
    name: 'Medium Spring Bud',
  ),
  primary: (
    color: #0D3B66,
    contrast: #FFFFFA,
    name: 'Dark Midnight Blue',
  ),
  warning: (
    color: #F4D35E,
    contrast: #2B303A,
    name: 'Stil de Grain Yellow',
  ),
  success: (
    color: #0D5C63,
    contrast: #92DCE5,
    name: 'Deep Green-Cyan Turquoise',
  )
);

$systemColors: (
  default: (
    color: #2B303A,
    contrast: #FFFFFA,
    name: 'Gunmetal',
  ),
  grey: (
    color: #7C7C7C,
    contrast: black,
    name: 'Trolley Grey',
  ),
  white: (
    color: #FFFFFA,
    contrast: #0D5C63,
    name: 'Baby Powder',
  ),
);

@function color($mode, $contrast: false, $palette: $colors) {
  @if map-has-key($palette, $mode) {
    @if not $contrast {
      @return map-get(map-get($palette, $mode), color);
    }
    @return map-get(map-get($palette, $mode), contrast);
  }
  @error "The color key #{$mode} is not defined!";
}
