$fonts: (
  default: (
    name: var(--font-default, 'Raleway'),
    weights: var(--font-default-weights, 300),
  ),
  heading: (
    name: var(--font-heading, 'Muli'),
    weights: var(--font-heading-weights, 700),
  ),
);

@function font($variant: 'default') {
  @if map-has-key($fonts, $variant) {
    @return '#{map-get(map-get($fonts, $variant), $name)}, sans-serif';
  }
  @error "The key #{$variant} is not defined for fonts!";
}

@function googleFontUrl($variant: 'default') {
  @if map-has-key($fonts, $variant) {
    $font: map-get($fonts, $variant);
    $name: map-get($font, $name);
    $weights: map-get($font, $weights);
    @return 'https://fonts.googleapis.com/css?family=#{$name}:#{$weights}';
  }
  @error "The key #{$variant} is not defined for fonts!";
}

$fontSizes: (
  h1: 4.209em,
  h2: 3.157em,
  h3: 2.369em,
  h4: 1.777em,
  h5: 1.333em,
  h6: 1em,
  small: 0.75em,
);

@function fontSize($variant: h6) {
  @if map-has-key($map: $fontSizes, $key: $variant) {
    @return map-get($map: $fontSizes, $key: $variant);
  }
  @error "The key #{$variant} is not defined for font sizes!";
}
