@import './colors';

$shadows: (
  xl: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.1),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.1),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.1),
    0 8px 8px rgba(color(default, false, $systemColors, true), 0.1),
    0 16px 16px rgba(color(default, false, $systemColors, true), 0.1),
    0 32px 32px rgba(color(default, false, $systemColors, true), 0.1),
    0 64px 64px rgba(color(default, false, $systemColors, true), 0.1),
    0 128px 128px rgba(color(default, false, $systemColors, true), 0.1),
  ),
  l: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.15),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.15),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.15),
    0 8px 8px rgba(color(default, false, $systemColors, true), 0.15),
    0 16px 16px rgba(color(default, false, $systemColors, true), 0.15),
    0 32px 32px rgba(color(default, false, $systemColors, true), 0.15),
  ),
  m: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.2),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.2),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.2),
    0 8px 8px rgba(color(default, false, $systemColors, true), 0.2),
  ),
  s: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.25),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.25),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.25),
  ),
  xs: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.35),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.35),
  ),
);

@function boxShadow($size, $inset: false) {
  @if not map-has-key($shadows, $size) {
    @error "The size #{$size} is not defined for shadows!";
  }
  $str: map-get($shadows, $size);
  @if $inset {
    @return 'inset #{$str}';
  }
  @return $str;
}
