@import './colors';

$outline: 0 0 5px rgba(color(warning, false, $colors, true), 0.5);

$shadows: (
  xl: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.125),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.125),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.125),
    0 8px 8px rgba(color(default, false, $systemColors, true), 0.125),
    0 16px 16px rgba(color(default, false, $systemColors, true), 0.125),
    0 32px 32px rgba(color(default, false, $systemColors, true), 0.125),
    0 64px 64px rgba(color(default, false, $systemColors, true), 0.125),
  ),
  l: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.15),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.15),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.15),
    0 8px 8px rgba(color(default, false, $systemColors, true), 0.15),
    0 16px 16px rgba(color(default, false, $systemColors, true), 0.15),
    0 32px 32px rgba(color(default, false, $systemColors, true), 0.15),
  ),
  m: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.175),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.175),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.175),
    0 8px 8px rgba(color(default, false, $systemColors, true), 0.175),
  ),
  s: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.22),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.22),
    0 4px 4px rgba(color(default, false, $systemColors, true), 0.22),
  ),
  xs: (
    0 1px 1px rgba(color(default, false, $systemColors, true), 0.3),
    0 2px 2px rgba(color(default, false, $systemColors, true), 0.3),
  ),
);

@function boxShadow($size, $inset: false) {
  @if not map-has-key($shadows, $size) {
    @error "The size #{$size} is not defined for shadows!";
  }
  $str: map-get($shadows, $size);
  @if $inset {
    @return 'inset #{$str}';
  }
  @return $str;
}

@mixin focus() {
  box-shadow: $outline;
  border-color: color(warning);
}
