$base: 16px;

$mediaQueries: (
  xs: (
    from: 0px,
    name: 'phone',
    to: 480px,
  ),
  s: (
    from: 480px,
    name: 'phone',
    to: 768px,
  ),
  m: (
    from: 768px,
    name: 'tablet',
    to: 1200px,
  ),
  l: (
    from: 1200px,
    name: 'desktop',
    to: 9999px,
  ),
  xl: (
    from: 1920px,
    name: 'hd',
    to: 9999px,
  ),
);

@mixin media-query-up($size, $type: 'screen') {
  @if not map-has-key($mediaQueries, $size) {
    @error "The size #{$size} does not exist on mediaQueries!";
  }
  @media #{$type} and (min-width: #{map-get(map-get($mediaQueries, $size), from)}) {
    @content;
  }
}

@mixin media-query-down($size, $type: 'screen') {
  @if not map-has-key($mediaQueries, $size) {
    @error "The size #{$size} does not exist on mediaQueries!";
  }
  @media #{$type} and (max-width: #{map-get(map-get($mediaQueries, $size), to)}) {
    @content;
  }
}

$spacings: (
  xl: 2rem,
  l: 1.5rem,
  m: 1rem,
  s: 0.75rem,
  xs: 0.6rem,
);

@function spacing($size: 'm') {
  @if map-has-key($spacings, $size) {
    @return map-get($spacings, $size);
  }
  @return 'The value #{$size} does not exist in spacings!';
}

@function rem($pxval) {
  @return ($pxval / $base) * 1rem;
}
