@import '../__styles__/variables';

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(25vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.backdrop,
.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 9998;
}

.backdrop {
  position: absolute;
  animation: appear $duration ease-out;
  background-color: rgba(color(default, false, $colors, true), 0.4);
}

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include media-query-up(m) {
    align-items: center;
  }
}

.wrapper {
  animation: slideUp $duration ease-out;
  display: block;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  margin: 0;
  max-height: calc(100vh - #{spacing(xl)});
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;

  @include media-query-up(m) {
    border-bottom-right-radius: borderRadius();
    border-bottom-left-radius: borderRadius();
    margin: spacing();
    max-width: rem(568px);
  }
}
