@import '../__styles__/variables';

.body {
  text-align: center;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &:not(:last-child) {
    padding-bottom: spacing(xl);

    &.light {
      padding-bottom: spacing();
    }
  }
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: spacing(xl);

  &.light {
    padding-top: spacing();
  }

  .body + & {
    border-top: borderWidth() dashed $borderColor;
  }

  @include media-query-up(m) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: spacing();
  }
}

.wrapper {
  position: relative;
  background-color: color(white, false, $systemColors);
  color: color(default);
  border-radius: borderRadius();
  padding: spacing(xl);
  margin: spacing(m);
  box-shadow: boxShadow(m);
  overflow: hidden;
}

.light {
  padding: spacing();
  margin: spacing(s);
  box-shadow: boxShadow(xs);
}
