@import '../__styles__/variables';

.body {
  text-align: center;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  
  .picture + & {
    margin-top: spacing(xl);
  }

  &:not(:last-child) {
    padding-bottom: spacing(xl);

    &.light {
      padding-bottom: spacing();
    }
  }
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: spacing(xl);

  &.light {
    padding-top: spacing();
  }

  .body + & {
    border-top: borderWidth() dashed $borderColor;
  }

  @include media-query-up(m) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: spacing();
  }
}

.wrapper {
  position: relative;
  background-color: color(white, false, $systemColors);
  color: color(default);
  border-radius: borderRadius();
  padding: spacing(xl);
  margin: spacing(m);
  width: 100%;
  box-shadow: boxShadow(m);
  overflow: hidden;
}

.dark {
  background-color: color(default);
  color: color(white, false, $systemColors);
}

.light {
  padding: spacing();
  margin: spacing(s);
  box-shadow: boxShadow(xs);
}

.picture {
  display: block;
  position: relative;
  margin: -#{spacing(xl)};
  
  .light > & {
    margin: -#{spacing()};
  }
  
  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(
      180deg,
      transparentize(color(white, false, $systemColors), 0.98),
      transparentize(color(white, false, $systemColors), 0.3) 70%,
      color(white, false, $systemColors) 90%
    );
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .dark > &::after {
    background: linear-gradient(
      180deg,
      transparentize(color(default), 0.98),
      transparentize(color(default), 0.3) 70%,
      color(default) 90%
    );
  }
}
