p {
  margin: 0;
}

.bean {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  text-align: center;
}

.bean__figure {
  border-radius: 9999px;
  height: 64px;
  margin: 0.5rem 1rem;
  min-height: 64px;
  min-width: 64px;
  overflow: hidden;
  position: relative;
  width: 64px;
}

.bean__image {
  position: absolute;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
