@import '../__styles__/variables';

.wrapper {
  padding: spacing(m) 0;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;

  @include media-query-up(m) {
    padding: spacing(l) 0;
  }

  @include media-query-up(l) {
    padding: spacing(xl) 0;
  }
}

@each $variant in $variants {
  .#{$variant} {
    color: color($variant, true);
    background-color: color($variant);
  }
}
