@import '../__styles__/variables';

.wrapper {
  display: inline-flex;
  box-shadow: boxShadow(xs);
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border: none;
  border-radius: borderRadius();
  padding: spacing(xs) spacing(m);
  max-width: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  transition: transition(box-shadow);
  
  &:hover,
  &:focus,
  &:active {
    box-shadow: boxShadow(m);
    cursor: pointer;
  }
}

.block {
  display: flex;
}

.large {
  padding: spacing(m) spacing(l);
  font-size: fontSize(h4);
}

@each $variant in $variants {
  .#{$variant} {
    background-color: color($variant);
    color: color($variant, true);
  }
}

.disabled {
  background-color: transparentize(color(default), 0.75);
  color: color(default);
  cursor: default;
  
  &:hover,
  &:focus,
  &:active {
    cursor: default;
    box-shadow: boxShadow(xs);
  }
}
