@import '../__styles__/variables';

.wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: fontSize(small);
  color: color(white, false, $systemColors);
  fill: color(white, false, $systemColors);
  background-color: color(success);
  box-shadow: boxShadow(xs);
  border: borderWidth(-1) solid transparent;
  border-radius: borderRadius();
  padding: spacing(m) spacing(s);
  max-width: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  overflow: hidden;
  transition: transition(box-shadow);
  z-index: 0;

  >svg {
    margin-left: spacing(s);
    height: 1.5em;
    width: auto;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: boxShadow(m);
    cursor: pointer;
  }
}

.block {
  display: flex;
}

.default {
  color: color(white, false, $systemColors);
  fill: color(white, false, $systemColors);
  background: linear-gradient(45deg,
      color(primary) 20%,
      color(success) 65%,
      color(default));

  &::before {
    position: absolute;
    content: '';
    background: linear-gradient(27deg,
        color(primary),
        color(success) 20%,
        color(default));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transition(opacity);
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      opacity: 0;
    }
  }
}

.large {
  padding: spacing(l) spacing(m);
  font-size: fontSize(h6);
}

.light {
  border-color: color(white, true, $systemColors);
  color: color(white, true, $systemColors);
  fill: color(white, true, $systemColors);
  background-color: color(white, false, $systemColors);
  transition: transition(all);
  
  &:active,
  &:hover,
  &:focus {
    background-color: color(success, true);
  }
}

.disabled {
  background-color: transparentize(color(default), 0.75);
  color: color(default);
  cursor: default;

  &:hover,
  &:focus,
  &:active {
    cursor: default;
    box-shadow: boxShadow(xs);
  }
}
