@import '../__styles__/variables';

.wrapper {
  transition: transition(border-color);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing(xs);
  border: border();
  border-color: var(--color-border-variant, transparent);
  border-radius: borderRadius();
  box-shadow: boxShadow(xs, true);
  font-family: var(--font-heading);
  font-size: fontSize(small);

  & + & {
    margin-left: spacing(xs);
  }

  svg {
    height: fontSize(h5);
    width: fontSize(h5);
    margin-right: spacing(xs);
  }
}

a.wrapper {
  --color-shadow: #{color(default, false, $systemColors, true)};
  --color-border-variant: transparent;
  box-shadow: boxShadow(s);

  &:active,
  &:hover {
    --color-border-variant: var(--color-variant);
    cursor: pointer;
  }

  &:focus {
    @include focus();
  }
}

@each $i in $variants {
  .#{$i} {
    --color-variant: #{color($i)};
    --color-border-variant: var(--color-variant);
    --color-shadow: #{color(white, false, $systemColors, true)};
    color: color($i);
    background-color: color(white, false, $systemColors);

    svg {
      fill: color($i);
    }
  }

  a.#{$i} {
    --color-variant: #{color($i, true)};
    color: color($i, true);
    background-color: color($i);

    svg {
      fill: color($i, true);
    }
  }
}
