@import '../__styles__/variables';

.wrapper {
  transition: transition(border-color);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing(xs);
  border: border();
  border-color: var(--color-border-variant, transparent);
  border-radius: borderRadius();
  box-shadow: boxShadow(xs, true);
  font-family: var(--font-heading);
  font-size: fontSize(small);

  & + & {
    margin-left: spacing(xs);
  }

  svg {
    height: fontSize(h5);
    width: fontSize(h5);
    margin-right: spacing(xs);
  }
}

a.wrapper {
  box-shadow: boxShadow(xs);

  &:hover {
    --color-border-variant: var(--color-variant);
    cursor: pointer;
  }

  &:focus {
    --color-shadow: #{color(warning, false, $colors, true)};
    box-shadow: boxShadow();
  }
}

@each $i in $variants {
  .#{$i} {
    --color-variant: #{color($i, true, $colors, true)};
    --color-shadow: var(--color-variant);
    color: color($i, true);
    background-color: color($i);

    svg {
      fill: color($i, true);
    }
  }
}
