@import '../__styles__/variables';

.wrapper {
  --color-gradient: #{color(default, true, $systemColors)};

  position: relative;
  border-radius: borderRadius();
  border: border();
  max-width: 100%;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(
      90deg,
      var(--color-gradient) 0%,
      var(--color-gradient) 33.333%,
      transparent 100%
    );
    width: spacing(xl);
    top: 0;
    bottom: 0;
    z-index: 10;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
    transform: rotateY(180deg);
  }
}

.viewport {
  transition: transition(transform);
  display: flex;
  margin: spacing(xs) spacing(s);
  padding: 0;

  li {
    flex: 1 0 auto;
    list-style: none;
    white-space: nowrap;
  }
}

.responsive {
  // TODO: add style
}

.vertical {
  // TODO: add style
}
