@import '../__styles__/variables';

.wrapper {
  transition: transition(box-shadow);
  border-radius: borderRadius();
  max-width: 100%;
  overflow: hidden;

  &:hover {
    box-shadow: boxShadow(s, true);
  }
}

.viewport {
  transition: transition(transform);
  display: flex;
  margin: spacing(xs) spacing(s);
  padding: 0;

  li {
    flex: 1 0 auto;
    list-style: none;
    white-space: nowrap;
  }
}

.responsive {
  // TODO: add style
}

.vertical {
  // TODO: add style
}
