@import '../../../__styles__/variables';

.wrapper {
  &:active,
  &:focus {
    @include focus();
  }

  &:not(:last-child) {
    margin-right: spacing();
  }
}

.item {
  transition: transition(background-color);
  display: inline-flex;
  border-radius: borderRadius();
  padding: spacing(xs) spacing(m);
  white-space: inherit;

  svg:not(:last-child) {
    margin-right: spacing(xs);
  }

  &:hover {
    background-color: RGBA(color(grey, false, $systemColors, true), 0.3);
  }
}

a.item {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
