@import '../../../__styles__/variables';

.wrapper {
  &:not(:last-child) {
    margin-right: spacing();
  }
}

.wrapper,
a.item {
  &:active,
  &:focus {
    @include focus();
  }
}

.item {
  display: inline-flex;
  border-radius: borderRadius();
  padding: spacing(xs) spacing(m);
  white-space: inherit;

  svg:not(:first-child) {
    margin-left: spacing(xs);
  }

  svg:not(:last-child) {
    margin-right: spacing(xs);
  }
}

a.item {
  transition: transition(background-color);
  position: relative;
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &:after {
    transition: transition(opacity);
    content: '';
    position: absolute;
    border-radius: borderRadius();
    background-color: color(primary);
    height: borderRadius();
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &.active:after {
    opacity: 1;
  }

  .wrapper:focus &,
  .wrapper:hover & {
    background-color: RGBA(color(grey, false, $systemColors, true), 0.3);
  }
}
